/*  FONTS  */
@font-face {
    font-family: "QuickSand";
    src: url("/assets/fonts/Quicksand-Regular.ttf")
}

@font-face {
    font-family: "Pacifico";
    src: url("/assets/fonts/Pacifico-Regular.ttf")
}


/*  GENERAL  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

a {
    text-decoration: none;
    font-family: "QuickSand";
    color: #333333;
}

li {
    list-style-type: none;
}

h1 {
    font-family: "Pacifico";
    font-size: 48px;
    color: #333333;
    line-height: 55px;
    font-weight: 300;
}

body{
    background-color: #FFFDF3;
}

h2, p, label{
    color: #333333;
    font-family: "QuickSand";

}

/*  MENU  */

header {
    background-color: #ffffff;
    height: 4.87rem;
    box-shadow: #FFDEE2 0px 4px 6px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    max-width: 80rem;
}

.navbar-logo {
    width: 13.6rem;
    height: 3.7rem;
}


.navbar ul {
    display: flex;
    align-items: center;
    margin-right: 2.2rem;
}

.navbar ul li {
   padding: 0.75rem;
}

.navbar ul li a {
    font-family: "QuickSand";
    color: #333333;
}

 .navbar ul li a img {
    padding: 0px 0.25rem;
 }


 
/*  HOME SECTION  */


 .home {
    background-color: #FFFDF3;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .home-container {
    width: 79vw;
    max-width: 79rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .home-text {
    width: 31rem;
 }



 .home p {
    font-family: "QuickSand";
    font-size: 1rem;
    margin: 1.5rem 0px 50px 0px;
 }

.home-buttons {
    display: flex;
}

.home .gallery-button {
    width: 9.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFDEE2;
    border: 1px solid #F991BE;
    border-radius: 6px;
    font-size: 1rem;
    margin-right: 1.25rem;
    font-weight: 600;
}


.home .contact-button {
    width: 9.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #333333;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}

/* GALLERY SECTION */
 
.gallery{
    background-color: #FFFDF3;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.gallery-container{
    width: 79vw;
    max-width: 79rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
 
.gallery-text{
    margin: 20px 0px 23px 0px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.gallery-text h1{
    padding: 30px 0px;
}
.gallery-text p{
    padding:  10px 0px;
    font-family: "QuickSand";
    font-size: 20px;
}
 
.gallery hr{
    margin-top: 20px;
    width: 18.25rem;
    border: 1px solid rgba(249, 149, 190, 0.50)
}
 
.gallery-products{
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    gap: 100px;
   
}
 
.gallery-products-card {
    width: 17rem;
    height: 25rem;
    position: relative;
    align-items: center;
   
   
}
 
.gallery-products-card  .image-card{
    width: 17rem;
    height: 15.625rem;
    border-radius: 0;
    text-align: center;
}
 
.gallery-products-card .card-text{
    margin: 0;
    box-shadow: 0px 5px 5px 0px rgba(219, 119, 139 , 1);
    background-color: #ffffff;
    height: 6.25rem;
    border-radius:  0px 0px 12px  12px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 1rem;
 
}
 
.gallery-products-card .card-text h4 {
    font-family: "QuickSand";
    font-size: 1.25rem;
    color: #333333;
}
 
.gallery-products-card .card-text p {
    font-family: "QuickSand";
    font-weight: 400;
    font-size: 1rem;
    color: #333333;
}
 
.gallery-products-card .card-button{
   position: absolute;
   left: 76px;
   bottom: 15px;
   background-color: #FFDEE2;
   font-family: "QuickSand";
   font-weight: 600;
   font-size: 16px;
   border: 1px solid #DB778B;
   width: 7.81rem;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   border-radius: 6px ;
}
 
.gallery-products-card .card-button img{
    position: absolute;
    bottom: -9px;
    right: -9px;
}
 
.gallery-image1{
    position: absolute ;
    left: 0;
    bottom: -138px;
}
 
.gallery-image2{
    position: absolute ;
    right: 0;
    bottom: -144px;
}


/*  ABOUT SECTION  */

.about {
    background-color: #FFFDF3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
 }

 
.about-container {
    width: 79vw;
    max-width: 79rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    margin: 20px 0px 46px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text h1 {
    padding: 30px 0px;
}

.about-text p {
    padding: 10px 0px;
    font-family: "QuickSand";
    font-size: 20px;
}

.about-text hr {
    margin-top: 20px;
    width: 18.25rem;
    border: 1px solid rgba(249, 149, 190, 0.50);
}

.about-section {
    display: flex;
    align-items: center;
    gap: 40px;
}


.about-section-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 30px;
    font-family: "Quicksand";
}


.about-section-text h2 {
    font-family: "Pacifico";
    font-size: 2rem;
    font-weight: 200;
}

.about-section-quote {
    border-left: 3px solid #F991BE;
    height: 2.8rem;
    padding-left: 1.25rem;
    width: 100%;
    position: relative;
}


.about-section-quote p {
    font-family: "Quicksand";
    font-size: 14px;
}

.about-section-quote-author {
    position: absolute;
    right: 0px;
    bottom: -25px;
}

/*  CONTACT SECTION  */

.contact {
    background-color: #FFFDF3 ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 
.contact-container {
    width: 79vw;
    max-width: 79rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact-text {
    margin: 20px 0px 46px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-text h1 {
    padding: 30px 0px;
    font-family: "Pacifico";
}

.contact-text p {
    padding: 10px 0px;
    font-family: "QuickSand";
    font-size: 20px;
}

.contact-text hr {
    margin-top: 20px;
    width: 18.25rem;
    border: 1px solid rgba(249, 149, 190, 0.50);
}

.contact-form-and-social-container{
    display: flex;
    gap: 2rem;
}

.contact-form-container{
    background-color: white;
    box-shadow: rgba(255, 222, 226, 0.8) 0px 4px 4px 0px;
    padding: 26px;
    border-radius: 8px;

}

.contact-form-container h2{
    margin-bottom: 0.5rem;
}

.contact-form-container p{
    margin-bottom: 2rem;
}

.contact-form-container label{
    margin-bottom: 0.5rem;
    display: block;
}

.input-container{
    margin-bottom: 1rem;
}

.input-container input{
    width: 100%;
    border: #33333347 1px solid;
    padding: 8px 12px;
    border-radius: 4px;
    font-family: "QuickSand";
;
}

.textarea-container textarea{
    height: 7.875rem;
    width: 100%;
    border: #33333347 1px solid;
    border-radius: 4px;
    resize: none;
    font-family: "QuickSand";
    padding: 8px 12px;
}


.form-button{
    width: 100%;
    padding: 14px 12px;
    margin-top: 1rem;
    background-color: #ffdfed9c;
    border: #f991be7d 1px solid;
    color: #333333;
    cursor: pointer;

}

.contact-social-container{
    background-color: white;
    box-shadow: rgba(255, 222, 226, 0.8) 0px 4px 4px 0px;
    padding: 26px;
    border-radius: 8px;
}

.contact-social-container h2{
    margin-bottom: 0.5rem;
}

.contact-social-container p{
    margin-bottom: 2rem;
}


.instagram-container, .whatsapp-container, .tiktok-container{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 6px;
    border-radius: 4px;
}

.instagram-container p, .whatsapp-container p, .tiktok-container p {
    color: #333333;
    margin-bottom: 0;
    margin-left: 0.5rem;
}


.instagram-container{
    background-color: #ff848627;
}

.whatsapp-container{
    background-color: #c7ebb64b;
}

.tiktok-container{
    background-color: #cec5f04b;
}

.tiktok-container img{
    width: 2rem;
}

/*Footer*/

footer {
    margin-top: 7rem;
    padding: 2rem 0;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h2 {
    font-size: 2rem;
    color: #FFFFFF;
    font-family: "Pacifico";
}

footer p {
    color: #FFFFFF;
}